@font-face {
  font-family: Ubuntu-Mono;
  src: ".ttf/UbuntuMono-R.ttf";
}

.ubuntu-mono {
  font-family: Ubuntu-Mono;
}

a {
  color: #7a1d00;
}

html,
body {
  height: 100%;
}

body {
  background: radial-gradient(circle, #eedfc5 0%, #fff8e1 50%, #eedfc5 100%);
}

.bg-lighter {
  background: #ece3d3;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background: #dac49d;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #dac49d;
}

.root {
  min-height: calc(100vh - 3rem);
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

nav {
  max-height: 3.16rem !important;
}

section {
  padding-top: 3.32rem !important;
}

#architecture {
  padding-bottom: 1rem !important;
}

nav,
footer {
  background: radial-gradient(circle, #7a1d00 0%, #ff7d47 50%, #7a1d00 100%);
}

.thead-core {
  background: #42c754;
  color: white;
}

.thead-skills {
  background: #088f8f;
  color: white;
}

.brandIcon {
  max-width: 48px;
  max-height: 48px;
}

.text-green {
  color: #42c754;
}

.text-teal {
  color: #088f8f;
}

.text-indigo {
  color: #6610f2;
}

td,
th {
  vertical-align: middle;
}

td.border-right-gray {
  border-right: 1px solid rgb(207, 207, 207);
}

.docs-menu {
  position: fixed;
}

@media only screen and (max-width: 767px) {
  .docs-menu {
    position: relative;
  }
}

footer {
  height: 3rem !important;
  margin-top: -3rem !important;
}
